body{
    font-family: sans-serif;
    font-size: 125%;
}

header{
    background-color: rgb(250, 236, 199);
}

nav{
    background-color: rgb(240, 222, 176);
}

main{
    background-color: rgb(250, 236, 199);
    font-size: 110%;
}

footer{
    background-color: rgb(240, 222, 176);
}

li{
    display: inline-block;
    width: 30%;
}

h1{
    text-align:center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    color:rgb(88, 99, 26) ;
}

p{
    line-height: 110%;
}